<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <h1>Pagina Principal</h1>
    <section>
        <ul>
            <lI><a href="/products/list">todos los productos</a></lI>
            <lI><a href="/products/create">Agregar Prodcuto</a></lI>
        </ul>
    </section>
    <h2>indice</h2>
</body>
</html>

